.d-carousel{
    position: relative;
    overflow-x: hidden;
}
.d-carousel-contianer{
    position: relative;
}

.d-carousel-list{
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: transform .3s ease;
}
.d-carousel-item{
    height: 100%;
    display: inline-block;
}

.d-carousel-indicators{
    bottom: 0;

    padding: 0;
    margin: 0;
    z-index: 3;
    list-style: none;
    text-align: center;
    &--none{
        display: none;
    }
    &--inside{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .d-carousel-indicator{
        display: inline-block;
        background-color: transparent;
        padding: 8px 4px;
        cursor: pointer;
        &.is-active{
            .d-carousel-indicator__button{
                width: 24px;
            }
        }
    }
    .d-carousel-indicator__button{
        width: 18px;
        height: 4px;
        border-radius: 2px;
        transition: all .3s ease;
    }
    &--dot{
        .d-carousel-indicator{
            .d-carousel-indicator__button{
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
            &.is-active{
                .d-carousel-indicator__button{
                    width: 12px;
                }
            }
        }
    }
}



.d-carousel-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 3;
    &.left{
        left: 12px;
    }
    &.right{
        right: 12px;
    }
}