.d-collapse{
    border: 1px solid #dfe6ec;
    border-bottom: none;
    border-radius: 0;
}

.d-collapse-item{
    .d-collapse-item__title {
        height: 43px;
        line-height: 43px;
        padding-left: 15px;
        background-color: #fff;
        color: #48576a;
        cursor: pointer;
        border-bottom: 1px solid #dfe6ec;
        font-size: 13px;
    }
    .d-collapse-item__content {
        overflow: hidden;
        box-sizing: border-box;
        background-color: #fbfdff;
        border-bottom: 1px solid #dfe6ec;
        color: #1f2d3d;
        font-size: 13px;
        padding: 0 15px;
        
    }
    &.expand {
        &>.d-collapse-item__content{
            display: block;
            padding: 10px 15px;
        }
        &>.d-collapse-item__title{
            .d-collapse-item__arrow{
                &:before{
                    transform: rotate(90deg);
                }
            }
        }
    }
    .d-collapse-item__arrow{
        &:before{
            margin-right: 5px;
            transition: transform .2s ease;
            transform: rotate(0);
        }
    }
}