@mixin activeCell{
    background-color: #20a0ff;
    color: #fff;
}
@mixin todayCell{
    position: relative;
    color: #20a0ff;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 5px solid #20a0ff;
        border-left: 5px solid transparent;
    }
}

.d-datepicker-panel{
    border: 1px solid #ddd;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    min-width: 228px;
    .prev-month,
    .next-month,
    .prev-range,
    .next-range{
        color: #999;
    }
    td, th{
        text-align: center;
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }
    
    .d-datepicker-pannel__header {
        margin: 6px;
        text-align: center;
    }
    .left-month-btn,
    .left-year-btn,
    .right-month-btn,
    .right-year-btn{
        width: 20px;
        text-align: center;
        cursor: pointer;
        &:hover{
            color: #20a0ff
        }
    }
    .left-month-btn, .left-year-btn{
        float: left;
    }
    .right-month-btn, .right-year-btn{
        float: right;
    }

    .left-year-btn{
        i:first-child{
            margin-right: -4px;
        }
    }
    .right-year-btn{
        i:last-child{
            margin-left: -4px;
        }
    }
    .year-picker,
    .month-picker{
        cursor: pointer;
        &:hover{
            color: #20a0ff
        }
    }
    .d-datepicker-table{
        td{
            cursor: pointer;
            &:hover{
                background: #eee;
            }
            &.today{
                @include todayCell;
            }
            &.active{
                @include activeCell;
            }
        }
    }
    .d-datepicker-year-table,
    .d-datepicker-month-table{
        width: 100%;
        padding: 0 15px 10px;
        td{
            padding: 25px 0;
            .cell{
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background: #eee;
                }
            }
            &.today .cell{
                @include todayCell;
            }
            &.active .cell{
                @include activeCell;
            }
        }
    }
}