.d-icon-load-a,
.d-icon-load-c {
	display: inline-block;
    animation: fa-spin 2s infinite steps(8);
}
.d-icon-load-b{
	display: inline-block;
	animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}