@import 'normalize';
@import 'animate';
@import 'button';
@import 'tag';
@import 'checkbox';
@import 'radio';
@import 'input';
@import 'rate';
@import 'collapse';
@import 'popper';
@import 'tooltip';
@import 'dropdown';
@import 'tab';
@import 'aside';
@import 'dialog';
@import 'message';
@import 'message-box';

*{
    box-sizing: border-box;
}

body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;    
}

.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}
.body-scroll-lock{
    overflow: hidden !important;
}