@import 'normalize';
@import 'ionicons/ionicons';
@import 'animate';
@import 'button';
@import 'tag';
@import 'icon';
@import 'checkbox';
@import 'radio';
@import 'input';
@import 'input-number';
@import 'select';
@import 'rate';
@import 'collapse';
@import 'popper';
@import 'tooltip';
@import 'dropdown';
@import 'tab';
@import 'table';
@import 'aside';
@import 'dialog';
@import 'message';
@import 'message-box';
@import 'notification';
@import 'datepicker';
@import 'timepicker';
@import 'pagination';
@import 'badge';
@import 'slider';
@import 'form';
@import 'colorpicker';
@import 'progress';
@import 'switch';
@import 'timeline';
@import 'breadcrumb';
@import 'card';
@import 'tree';
@import 'carousel';
@import 'upload';
@import 'alert';
@import 'steps';
@import 'row';
* {
    box-sizing: border-box;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}

.body-scroll-lock {
    overflow: hidden !important;
}

.collapse-transition {
    transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}