@import "transition";
@include transition-fade('popper-fade');

.d-popper-container{
    display: inline-block;
}
.d-popper{
    display: inline-block;
    background: #fff;
    min-width: 150px;
    border-radius: 2px;
    border: 1px solid #d1dbe5;
    padding: 8px;
    z-index: 2000;
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    margin-top: -8px;

    .d-popper__arrow {
        position: absolute;
        width: 8px;
        height: 8px;
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
        background: #fff;
        border-right-color: #d1dbe5;
        border-bottom-color: #d1dbe5;
    }
    &[x-placement^=top]{
        margin: 0 0 8px 0;
        .d-popper__arrow{
            bottom: -5px;
            transform: rotate(45deg);
        }
    }
    &[x-placement^=right]{
        margin: 0 0 0 8px;
        .d-popper__arrow {
            left: -5px;
            transform: rotate(135deg);
        }
    }
    &[x-placement^=bottom]{
        margin: 8px 0 0 0;
        .d-popper__arrow {
            top: -5px;
            transform: rotate(-135deg);
        }
    }
    &[x-placement^=left]{
        margin: 0 8px 0 0;
        .d-popper__arrow {
            right: -5px;
            transform: rotate(-45deg);
        }
    }
}
.d-popper__ref{
    display: inline-block;
}
