.d-radio{
    display: inline-block;
    user-select: none;    
    cursor: pointer;
    .d-radio__inner{
        position: relative;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #bfcbd9;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        background-color: #fff;
        &:after{
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            left: 6px;
            top: 6px;
            opacity: 0;
            border-radius: 50%;
            transition: all .2s ease-in-out;
            transform-origin: center;
        }
    }
    .d-radio__input{
        &.checked{
            .d-radio__inner{
                border-color: #2d8cf0;
                &:after{
                    width: 10px;
                    height: 10px;
                    left: 3px;
                    top: 3px;
                    opacity: 1;
                    background-color: #2d8cf0;
                }
            }
        }
    }
    &.disabled{
        cursor: not-allowed;
        .d-radio__input{
            &.checked{
                .d-radio__inner{
                    border-color: #d1dbe5;
                    &:after{
                        background-color: #d1dbe5;
                    }
                }
            }
        }
        .d-radio__label{
            color: #ddd;
        }
    }
    &+.d-radio{
        margin-left: 10px;
    }
}