.d-rate{
    .d-rate-item {
        display: inline-block;
        user-select: none;
        position: relative;
        cursor: pointer;
    }
    .d-rate-item__icon {
        font-size: 20px;
        color: #adafb3;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover,
        &.active{
            color: #f7ba2a;
        }
    }
    &.disabled{
        .d-rate-item{
            cursor: default;
        }
        .d-rate-item__icon{
            &:not(.active):hover{
                color: #adafb3;
            }
        }
    }
}