.d-select {
    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    color: #495060;
    font-size: 14px;
    line-height: normal;
    .d-input__inner {
        cursor: pointer;
        user-select: none;
    }
    &.expand{
        .d-select-arrow{
            transform: rotate(180deg);
        }
    }
    &.disabled{
        .d-select-arrow,
        .d-select-clear{
            cursor: not-allowed;
        }
        .d-select-tags{
            background-color: #EDF0F6;
            border-color: #D0D9E3;
            color: #BABABA;
            box-shadow: none;
            cursor: not-allowed;
        }
    }
    
    &.multiple{
        .d-select-item.active{
            color: #2D8CF0;
            background: #fff;
            &:after {
                display: block;
                font-family: Ionicons;
                font-weight: 800;
                line-height: 1;
                font-size: 24px;
                content: "\F3FD";
                float: right;
                color: #2D8CF0;
            }
        }
    }
    &--small{
        .d-select-placeholder{
            font-size: 12px;
        }
        .d-select-dropdown-list{
            font-size: 12px;
        }
    }
    &--large{
        .d-select-placeholder{
            font-size: 16px;
        }
        .d-select-tags{
            min-height: 40px;
            font-size: 16px;
            padding: 6px 12px;
        }
        .d-select-dropdown-list{
            font-size: 16px;
        }
    }
}
.d-select-arrow,
.d-select-clear {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    margin-top: -7px;
    font-size: 14px;
    color: #80848f;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.d-select-dropdown{
    max-height: 200px;
    min-width: 200px;
    overflow: auto;
    margin: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
.d-select-dropdown-list{
    display: inline-block;
    background: #fff;
    z-index: 2000;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.d-select-item {
    padding: 6px 14px;
    color: #495060;
    list-style: none;
    cursor: pointer;
    &:hover{
        background-color: #DCDEE4;
        color: #485666;
    }
    &.active{
        color: #fff;
        background: #2D8CF0;
    }
}

.d-select-group__item{
    padding-left: 0;
    list-style: none;
}
.d-select-group__title {
    padding: 10px 8px 8px 8px;
    color: #999;
    line-height: 1.5;
}

.d-select-tags{
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 4px 12px;
    color: #243242;
    outline: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    cursor: pointer;
    .d-tag{
        display: inline-block;
        margin: 3px 4px 2px 0;
        padding: 4px
    }
}

.d-select-placeholder{
    padding: 4px 0;
    color: #243242;
    outline: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    user-select: none;
}