.d-slider{
    position:relative;
    border: 1px solid #ddd;
    display: inline-block;
    height: 8px;
    margin: 8px 0;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    &--vertical{
        width: 8px;
        margin: 0 8px;
        height: 100%;
        .d-slider__bar{
            width: 100%;
        }
        .d-slider__button-wraper{
            left: -100%;
            transform: translateY(-50%);
        }
        .d-slider__button{
            &:hover,
            &.draging{
                transform: scale(1.5);
            }
        }
        .d-slider__stop{
            transform: translateY(-50%);
        }
    }
    &.disabled{
        
        .d-slider__button,
        {
            border-color: #ccc;
            cursor: not-allowed;
        }
        .d-slider__bar{
            background-color: #ccc;
            cursor: not-allowed;
        }
        
    }
}
.d-slider__button-wraper{
    position:absolute;
    top: -100%;
    width: 18px;
    height: 18px;
    transform: translateX(-50%);
}
.d-slider__button{
    display: inline-block;
    border-radius: 50%;
    background:#fff; 
    border: 2px solid #20a0ff;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    cursor:-webkit-grab;
    cursor:grab;
    &:hover,
    &.draging{
        border-width: 3px;
        transform: scale(1.5);
    }
}
.d-slider__bar{
    position: absolute;
    border-radius: 3px;
    background:#20a0ff;
    height:100%
}
.d-slider__stop{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #8c8f92;
    transform: translateX(-50%);
}