@import "transition";
@include transition-fade('tab-fade', '5px');

.tab-fade-leave-active {
    animation: tab-fade-out 0;
}

.d-tab__header{
    border-bottom: 1px solid #D7E2EC;
}

.d-tab__label {
    padding: 8px 15px;
    margin-bottom: -1px;
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    color: #8391a5;
    position: relative;
    cursor: pointer;
}

.d-tab__label.active {
    border-bottom: 2px solid #20a0ff;
    color: #20a0ff;
}

.d-tab__content {
    padding: 5px;
    overflow: hidden;
}
.d-tab__item{
    visibility: hidden;
    float: left;
    &.active{
        visibility: visible;
    }
}
.d-tab.card{
    .d-tab__label.active{
        border-radius: 4px 4px 0 0;
        border: 1px solid #d9d9d9;
        border-bottom: 1px solid #fff;           
    }
}