.d-tab__header{
    border-bottom: 1px solid #D7E2EC;
}

.d-tab__label {
    padding: 8px 15px;
    box-sizing: border-box;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    color: #8391a5;
    position: relative;
    cursor: pointer;

}

.d-tab__label.active {
    border-bottom: 2px solid #20a0ff;
    color: #20a0ff;
}

.d-tab__content {
    padding: 5px;
}