.d-table{
    border: 1px solid #dfe6ec;
    &.stripe{
        tbody {
            tr{
                transition: background-color 0.3s ease-in-out;
                &:nth-child(even){
                    background: #FAFAFA;
                }
                &:hover{
                    background-color: #eef1f6;
                }
            }
        }
        
    }
    &.border{
        td, th{
            border-right: 1px solid #dfe6ec;
        }
        tr th:last-child,
        tr td:last-child{
            border-right: none; 
        }
    }
    tr{
        &:hover{
            background-color: #eef1f6;
        }
        td{
            border-bottom: 1px solid #dfe6ec;
        }
    }
}

.d-table table{
    width: 100%;
    table-layout:fixed
}

.d-table th {
    background-color: #eef1f6;
    text-align: left;
    border-bottom: 1px solid #dfe6ec;
}

.d-table__cell{
    display: inline-block;
    padding: 8px 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    vertical-align: middle;
    word-break: break-all;
}

.d-table__body-wrapper{
    overflow: auto;
}

.d-table__header-wrapper{
    overflow: hidden;
}

.d-table__empty{
    position: relative;
    height: 100%;
    .d-table__empty--text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #677A88;
    }
}