@import 'variable';
.d-tag {
    display: inline;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #807E7E;
    &--primary{
        background-color: $primaryColor;
    }
    &--info{
        background-color: $infoColor;
    }
    &--success{
        background-color: $successColor;
    }
    &--warning{
        background-color: $warningColor;
    }
    &--danger{
        background-color: $dangerColor;
    }
    & + .d-tag{
        margin-left: 5px;
    }
}