.d-timeline-item {
    position: relative;
}

.d-timeline-item__line {
    position: absolute;
    left: 6.5px;
    top: 0;
    width: 1px;
    height: 100%;
    display: inline-block;
    border: 1px solid $infoColor;
}

.d-timeline-item__endpoint {
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid $infoColor;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    &.custom {
        border-width: 0;
    }
}

.d-timeline-item__content {
    position: relative;
    top: -1px;
    left: 30px;
    padding-bottom: 20px;
}

.d-timeline {
    .d-timeline-item:last-child {
        .d-timeline-item__line {
            display: none
        }
    }
}