.d-timepicker-hours,
.d-timepicker-minutes,
.d-timepicker-seconds{
    position: relative;
    width: 56px;
    max-height: 144px;
    float: left;
    overflow: hidden;
    border-left: 1px solid #e9eaec;
    &:hover{
        overflow-y: auto;
    }
}
.d-timepicker-panel{
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #e9eaec;
    border-left-width: 0;
    user-select: none;
    .d-timepicker__cells{
        width: 100%;
        margin: 0;
        padding: 0 0 120px;
        list-style: none;
    }
    .d-timepicker__cell{
        cursor: pointer;
        padding-left: 16px;
        height: 24px;
        line-height: 24px;
        box-sizing: content-box;
        &:hover{
            background: #eee;
        }
        &.selected{
            color: #20a0ff;
        }
    }
}

.d-timepicker{
    display: inline-block;
    &--large{
        .d-timepicker-popper{
            font-size: 16px;   
        }
    }
    &--small{
        .d-timepicker-popper{
            font-size: 12px;   
        }
    }
}
.d-timepicker-popper{
    margin: 2px 0;
    background: #fff;
    box-shadow: 0 1px 6px #ccc;
    .d-timepicker-panel{
        border-bottom-width: 0; 
    }
}
.d-timepicker-reference{
    position: relative;
}
.d-timepicker-arrow,
.d-timepicker-clear {
    position: absolute;
    top: 50%;
    right: 8px;
    line-height: 1;
    margin-top: -7px;
    font-size: 14px;
    color: #80848f;
    cursor: pointer;
    transition: all .2s ease-in-out;
}