@import "transition";
@include transition-fade('tooltip-fade');

.d-tooltip-container{
    display: inline-block;
}
.d-tooltip{
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #d1dbe5;
    padding: 6px;
    z-index: 2000;
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    margin-top: -8px;
    &.black{
        background: #000;
        border-color: #000;
        color: #fff;
        .d-tooltip__arrow{
            background: #000;
            border-color: #000;
        }
    }
    .d-tooltip__arrow {
        position: absolute;
        width: 8px;
        height: 8px;
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
        background: #fff;
        border-right-color: #d1dbe5;
        border-bottom-color: #d1dbe5;
    }
    &[x-placement^=top]{
        margin: 0 0 8px 0;
        .d-tooltip__arrow{
            bottom: -4px;
            transform: rotate(45deg);
        }
    }
    &[x-placement^=right]{
        margin: 0 0 0 8px;
        .d-tooltip__arrow {
            left: -4px;
            transform: rotate(135deg);
        }
    }
    &[x-placement^=bottom]{
        margin: 8px 0 0 0;
        .d-tooltip__arrow {
            top: -4px;
            transform: rotate(-135deg);
        }
    }
    &[x-placement^=left]{
        margin: 0 8px 0 0;
        .d-tooltip__arrow {
            right: -4px;
            transform: rotate(-45deg);
        }
    }
}
.d-tooltip__ref{
    display: inline-block;
}