%transition{
    &.show{
        opacity: 1;
    }
    &.fade-enter-active, &.fade-leave-active{
        opacity: 1;
        transition: opacity .3s linear;
    }
    &.fade-enter, &.fade-leave-to{
        opacity: 0 
    }
    &.slide-enter-active, &.slide-leave-active{
        opacity: 1;
        transform: scaleY(1);
        transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.slide-enter, &.slide-leave-to{
        opacity: 0;
        transform: scaleY(0);
    }
}