$primaryColor: #1B94EE;
$primaryHoverColor: #40A3EC;
$infoColor: #4DBEFF;
$infoHoverColor: #6FC7F9;
$dangerColor: #F24545;
$dangerHoverColor: #F55858;
$successColor: #1DB267;
$successHoverColor: #2EB571;
$warningColor: #F0B428;
$warningHoverColor: #EFBD46;
$linkColor: #219BF7;
$linkHoverColor: #51AFF4;